@page "/component"

<h3>Component</h3>

<br />

<button class="btn btn-danger" @onclick="ChangeBtnText"> 
    Zmień tekst przycisku
</button>

<CascadingValue Value="@_title" Name="Title">
    <CascadingValue Value="@_info" Name="Info">
        <Card 
            Image="/files/kowalski.png"
            BtnText="@_btnText"
            OnClickMore="ClickMore"
            BtnAttributes="_cardBtnAtributes"    
        >
            <Title>
                <b>Jan Kowalski</b>
            </Title>
            <Content>
                <u>Programista C# .NET</u> z 20-letnim doświadczeniem. <br />
                <b>Specjalizacje</b>: 
                <ul>
                    <li>Blazor</li>
                    <li>ASP .NET Core</li>
                </ul>
            </Content>
        </Card>
    </CascadingValue>
</CascadingValue>





<hr />

<div class="d-flex gap-2">
    @foreach (var author in _authors)
    {
        <Card Image="@author.Image"
              BtnText="@author.BtnText">
              <Title>@author.Title</Title>
            <Content>@author.Content</Content>
        </Card>
    }
</div>
