@page "/component"

<h3>Component</h3>

<br />

<ModalWindow Show="_showModalWindow" 
    @ref="_modal"
    OnAccept="ModalAccept"
    OnCancel="ModalCancel">
    <Title><p>Okno modalne</p></Title>
    <Body>
        aaaaa<br />
        aaaaa<br />
        aaaaa<br />
    </Body>
</ModalWindow>


<button class="btn btn-danger" @onclick="ChangeBtnText"> 
    Zmień tekst przycisku
</button>

<button class="btn btn-secondary my-2" @onclick="AddCardBorder"> 
    Dodaj obramowanie
</button>

<button class="btn btn-primary my-2" @onclick="ShowModalWindow"> 
    Pokaż okno modalne
</button>


<CascadingValue Value="@_title" Name="Title">
    <CascadingValue Value="@_info" Name="Info">
        <Card @ref="_card"
            Image="/files/kowalski.png"
            BtnText="@_btnText"
            OnClickMore="ClickMore"
            BtnAttributes="_cardBtnAtributes"    
        >
            <Title>
                <b>Jan Kowalski</b>
            </Title>
            <Content>
                <u>Programista C# .NET</u> z 20-letnim doświadczeniem. <br />
                <b>Specjalizacje</b>: 
                <ul>
                    <li>Blazor</li>
                    <li>ASP .NET Core</li>
                </ul>
            </Content>
        </Card>
    </CascadingValue>
</CascadingValue>





<hr />

<div class="d-flex gap-2">
    @foreach (var author in _authors)
    {
        <Card Image="@author.Image"
              BtnText="@author.BtnText">
              <Title>@author.Title</Title>
            <Content>@author.Content</Content>
        </Card>
    }
</div>
